* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: 'Inter', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-top: 300px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  font-size: 45px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  max-width: 90%;
}

input {
  border: none;
  border-bottom: 1px solid #333;
  background: none;
  font-size: 25px;
  padding: 10px 5px;
  outline: none;
  width: 100%;
}

input::placeholder {
  color: #666;
  font-size: 20px;
}

button {
  background-color: #A64B2A;
  color: white;
  font-size: 20px;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  align-self: center;
}

button:hover {
  background-color: #8A3A1A;
}

button:active {
  transform: scale(0.95);
}

.button-inactive {
  background-color: #C9B8AA;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 20px;
  cursor: not-allowed;
  opacity: 0.6;
}

#errorMessage {
  color: red;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

/* Адаптивність для мобільних екранів */
@media screen and (max-width: 480px) {
  .header {
    font-size: 20px;
    padding: 10px;
    position: static;
    text-align: center;
  }

  h2 {
    font-size: 32px;
  }

  form {
    width: 90%;
  }

  input {
    font-size: 20px;
  }

  input::placeholder {
    font-size: 16px;
  }

  button {
    font-size: 18px;
    padding: 10px 20px;
  }

  #errorMessage {
    font-size: 16px;
  }
}
