html{
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

  background-color: #fce4c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 55px;
  margin-bottom: 200px;
  letter-spacing: 5px;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.menu button {
  background-color: #A64B2A;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.menu button:hover {
  background-color: #8A3A1A;
}
.menu button:active {
  transform: scale(0.95);
}
.button-inactive {
  background-color: #C9B8AA;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}
